@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

.nav{
    background:#b4d1cf!important;
}
.text-color {
    color: black !important;
    font-family: 'Staatliches', cursive;
}
