<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="margin-top:170px">
      <!--     <h6>Filtrar por dificultad:</h6>
            <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      Alta
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                      Media
                    </label>
                  </div>
                  <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Baja
                        </label>
                      </div>
                      <h6>Filtrar por precio:</h6>
        <input type="range">-->
    </div>
    <div class="col-md-9" style="margin-top:50px">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="input-group mb-3">
              <!--  <input type="text" class="form-control" placeholder="Buscar"  aria-describedby="basic-addon2" width="70%"> 
                                <div class="input-group-append">
                                  <span class="input-group-text" id="basic-addon2">@</span>
                                </div>-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <a class="crear" [routerLink]="['create']">Crear nuevo tour</a>
        </div>
      </div>
      <div class="row">
        <div class="box">
          <div *ngFor="let i of tours">
            <div class="n" [routerLink]="[i.id]">
              <img src={{i.fotos[0].ruta}} width="100%" height="150px" style="border-radius:18px"><br><br>
              <h5>{{i.nombre}}</h5>

              <strong>Lugar:</strong> {{i.lugar}} <br>
              <strong>Duración:</strong> {{i.duracion}}<br>
              <strong>Fecha:</strong> {{i.fecha}}
              <h4>Recomendacion:</h4>
              <strong>Tipo Bicicelta:</strong>
              <strong>Indumentaria:</strong>

              <h4 id="derecha">${{i.costo}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>