<div class="card-deck m-3">
    <div class="row">
        <div class="col">
            <button type="button m-2" class="btn btn-primary">Crear Blog</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4" *ngFor="let i of blogs">

			<div class="card ml-0 mt-2" style=" text-align: center;"> 
					<div class="card-body" >
					<div class="container-fluid">
						<table class="container-fluid">
							<tbody>
							<th style=" width:100px;height:100px;">
									<img src="{{i.rutaImagen}}" style="border:2px solid black;width:100px;height:100px;" onerror="src='../../../assets/Blank_File.png'; style='width:100px;height:100px; vertical-align: middle;'">
							</th>
							<th >
								<div class="card-title">
									<a style="color: black;" routerLink="/blogs/{{i.id}}" routerLinkActive=active routerLinkActive="active-link">{{i.titulo}}</a>
								</div>
								<div class="card-text">
									<img class="card-text" src="../../../assets/star.png" style="width:25px;height:25px; text-align: center;">{{i.calificacionPromedio}}
								</div>
							</th>
						</tbody>
						</table>	
					</div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-info mr-1 btn-card">Editar</button>
                    <button type="button" class="btn btn-danger btn-card">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>