<br>
<div class="container-fluid" style="background: #C72C41; width: 80%; border: 10px solid white">
  <br>
<div class="container-fluid" style="width: 80%; left: 10%;">  
    <table style="width: 100%;">
        <th style="width: 95%;">
            <input type="text" id="buscar" (keyup)="buscar()" placeholder="Ingrese el nombre del usuario" style="width: 100%; text-align: center;vertical-align: middle;font-size: 25px;" >
        </th>
        <th style="width: 5%; align-content: center; position: absolute; vertical-align: middle;">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <i class="fa fa-search" id="boton"></i>
          </th>
    </table>
    <br>
  <div class="row" id="listas" >
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let i of usuarios">
			<div class="card ml-0 mt-2" style=" text-align: center;" id="info">
				<div class="card-body">
					<table style="width: 100%;">
            <tbody style="width: 100%;">
              <th>
                <a style="color: black; word-break: break-word; font-size: 20px;" routerLink="/usuarios/{{i.id}}/perfil" routerLinkActive=active routerLinkActive="active-link" id="titulo">{{i.nombre}}</a>
              </th>
						</tbody>
					</table>	
				</div>
      </div>
    </div>
  </div>
</div>
<br>
</div>
<br>