<br>
	<div class="container-fluid" style=" background: #C72C41; width: 70%; border: 10px solid black; text-align: center; color: white;">
			
					<div style="font-size: 30px; text-align: center;">{{blogDetail.titulo}}</div>
					<div style="text-align: center;">Calificacion Promedio: <img src="../../../assets/star.png" style="width:15px;height:15px;align-self: auto;">{{blogDetail.calificacionPromedio}}</div>
					<br>
					<div>
							<img src="{{blogDetail.rutaImagen}}" style="max-height: 400px; max-width: 500px; border:2px solid black; " onerror="this.style.display='none'">
					</div>
					<br>
					<div style="border:2px solid black; background: white; color: black;">{{blogDetail.texto}}</div>						
	</div>
<br>

