<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading" style="font-size: 30px; font-weight: bold;">Perfil</div>
        <div class="list-group list-group-flush">
            <a routerLink="./perfil" class="list-group-item list-group-item-action bg-light">Datos Personales</a>
            <a id="comp1"href="#" class="list-group-item list-group-item-action bg-light">Tours</a>
            <a id="comp2"routerLink="./insurances" class="list-group-item list-group-item-action bg-light">Seguros</a>
            <a id="comp3"routerLink="./blogs" class="list-group-item list-group-item-action bg-light">Blog</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper
    
<router-outlet></router-outlet>
 -->