<div class="container-fluid">
	<div class="row">
		<div class="col">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Comentario Grade</th>    
            			<th>Comentario Text</th>  
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let c of comentarios">
						<td style="cursor: pointer;">
							<a class="figure-caption" (click)="onSelected(c.id)">{{c.calificacion}}</a>
						</td>
            			<td>{{c.texto}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="border row">
		<div class="col">
			<div *ngIf="selectedComentario">
				<app-comentario-detail [comentarioDetail]="selectedComentario"> </app-comentario-detail>
			</div>
		</div>
	</div>
</div>