<div class="container-fluid">
  <div class="row">
  <div class="col-md-7" >
    <form [formGroup]="tourForm" (ngSubmit)="ponerDuracion()">
      <br><br>
      <h1>Crear un nuevo tour</h1>
      <br><br>
      <label for="validationDefault01"><Strong>Nombre</Strong></label>
      <input type="text" class="form-control" id="validationDefault01" formControlName="nombre" placeholder="Nombre" required>
  
      <label for="validationDefault01"><Strong>Descripción</Strong></label>
      <textarea type="text" class="form-control" id="validationDefault02" formControlName="descripcion" placeholder="Ingrese una descripción del tour" required></textarea>
  
  
      <label for="validationDefault01"><Strong>Dificultad</Strong></label>
      <select class="custom-select custom-select-sm" formControlName="dificultad" >
            <option value="BAJA">BAJA</option>
            <option value="MEDIA">MEDIA</option>
            <option value="ALTA">ALTA</option>
      </select><br><br>
  
      <label for="validationDefault01"><Strong>Punto de encuentro</Strong></label>
      <input type="text" class="form-control" id="validationDefault04" formControlName="lugar" placeholder="Ingrese una dirección i.e. Cra 1145 No.7-323" required>
  
  
      <label for="validationDefault01"><Strong>Fecha</Strong></label><br>
      <input type="date" name="bday" formControlName="fecha" min="1900-01-02" max="2100-12-31">
      <br><br>
  
      <label for="validationDefault01"><Strong>Precio</Strong></label><br>
      <input type="number" formControlName="costo" name="quantity" min="0">COP
      <br><br>
      <button style="background-color: #C72C41;"   type="submit">Siguiente -> </button>

    </form>
      <form [formGroup]="duracionForm">
        <label for="validationDefault01"><Strong>Duración</Strong></label><br>
        <input type="number" min="0" placeholder="dias" formControlName="dias">
        <input type="number" min="0" placeholder="horas" formControlName="horas">
        <input type="number" min="0"  placeholder="minutos" formControlName="minutos">
      </form>
      <br><br><!--[routerLink] ="['../create/fotos']"-->
  </div>
  <div class="col-md-5">
    <app-foto-create></app-foto-create>
  </div>
</div>
</div>