<div class="container-fluid">
	<div class="row">
		<div class="col">
			<table class="table table-striped">>

				<tbody>
					<tr *ngFor="let i of blogs">
						<td style="cursor: pointer;">
						
							<dd (click)="onSelected(i.id)" routerLinkActive="active-link">{{i.titulo}}</dd>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col">
			<div *ngIf="selectedBlog" class="border m-3 p-3">
        				<app-blog-detail [blogDetail]="selectedBlog"> </app-blog-detail>
			</div>
	</div>
</div>