<br>
	<div class="container-fluid" style="text-align: center; background: #C72C41; width: 70%; border: 10px solid white">
		<br>
			<div *ngFor="let i of blogs" style="border: 2px solid black; background: white; font-size-adjust: 15px;"> 	
				<table cellspacing="100">
					<tr>
						<td style="text-align: left; cursor: pointer;">
							<dd (click)="onSelected(i.id)" class="nav-link  text-color" routerLink="/blogs/{{i.id}}" routerLinkActive=active routerLinkActive="active-link"style="vertical-align: middle;" >{{i.titulo}}</dd>
						</td>
						<td style="text-align: right;">
							<img src="../../../assets/star.png" style="width:15px;height:15px; vertical-align: middle;">{{i.calificacionPromedio}}
						</td>
					</tr>
				</table>
			</div>
		<br>
	</div>
<br>