<div class="row">
<div class="fotos">
    <button id="anterior" (click)="anterior()" disabled></button>
    <div class="panelFoto">
        <img id="foto" src={{imageUrl}}>
        <form [formGroup]="fotosForm"  >
            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)"/>
        </form>
    </div>
    <button id="siguiente" (click)="siguiente()" disabled></button>
</div>
<div class="row">
    <div class="fotitos" *ngFor="let i of fotos,index as k">
        <img class="imagen" id={{k}} src={{i.ruta}} (click)="seleccionarImagen(k)">
    </div>
</div>
</div>
