<div class="container-fluid">
    <h3>Agregar fotos</h3>
    <form>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <input type="text" class="form-control" id="validationDefault01" placeholder="Link de la imágen" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <input type="text" class="form-control" id="validationDefault01" placeholder="Link de la imágen" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <input type="text" class="form-control" id="validationDefault01" placeholder="Link de la imágen" required>
            </div>
        </div>
    <button id="agregar">Agregar más</button>
</form>
<br><br><br><br>
<button class="btn btn-primary" style="background-color: #C72C41;" type="submit">Siguiente -> </button>
</div>